<div class="feature">

    <img
        srcset="{{ path '/img/feature/feature-01--xlarge.jpg 1920w' }},
                {{ path '/img/feature/feature-01--large.jpg 1024w' }},
                {{ path '/img/feature/feature-01--medium.jpg 768w' }},
                {{ path '/img/feature/feature-01--small.jpg 480w' }}"
        sizes="100vw"
        src="{{ path '/img/feature/feature-01--large.jpg' }}"
        alt="A beautiful beach at sunset."
        class="obj-fit feature-img">

    <div class="wrap">
        <div class="featureContent">
            <h2 class="featureContent-title brand-stamp">When should I expect another recession?</h2>
            <div class="featureContent-lead">
                <p>Global growth has peaked, but will remain firmly above trend in 2018. Markets have entered a more volatile phase. Expect a recession in 2020. Our latest Q2 2018 research will answer your questions&hellip;</p>
                <a href="" class="button secondary">Get the full report</a>
            </div>
        </div>
    </div>

</div>
<!-- / Feature content & image -->
