<div class="grid {{#if twoColumns}}{{ modifier }}{{else if threeColumns}}{{ modifier }}{{else if threeThenTwoColumns}}{{ modifier }}{{else if fourColumns}}{{ modifier }}{{else if oneTwoThirdSplit}}{{ modifier }}{{else if twoOneThirdSplit}}{{ modifier }}{{/if}}">
	<div class="grid-panel">
		{{render "@text_block" }}
	</div>
	<div class="grid-panel">
		{{render "@text_block" }}
	</div>
	<div class="grid-panel">
		{{render "@text_block" }}
	</div>
	<div class="grid-panel">
		{{render "@text_block" }}
	</div>
	<div class="grid-panel">
		{{render "@text_block" }}
	</div>
	<div class="grid-panel">
		{{render "@text_block" }}
	</div>
	<div class="grid-panel">
		{{render "@text_block" }}
	</div>
</div>
